@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
:root {
  --clr-light: rgb(224, 252, 236);
  --clr-dark: rgb(31, 101, 110);
  --clr-pink: rgb(212, 190, 252);
  --clr-white: #fff;
  --clr-gray: rgb(201, 201, 201);
  --clr-brown: #453639;
  --clr-footer: #8a736a;
  --ff-primary: 'Teko', sans-serif;
  --ff-secondary: 'Teko', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--ff);
  font-weight: 400;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.6;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [page-start] 12% [content-start] 76% [content-end] 12% [page-end];
      grid-template-columns: [page-start] 12% [content-start] 76% [content-end] 12% [page-end];
  -ms-grid-rows: 20vh auto auto;
      grid-template-rows: 20vh auto auto;
  background: var(--clr-light);
  max-width: 1700px;
  margin: 0 auto;
}

.header {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-column: 1 / -1;
  background: var(--clr-dark);
  text-align: center;
}

.header__title {
  font-size: 4.5rem;
  color: var(--clr-gray);
  font-family: var(--ff-secondary);
  letter-spacing: 0.2rem;
}

.header__title-alt {
  color: var(--clr-white);
}

.cards {
  grid-column: content-start / content-end;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  background: var(--clr-brown);
}

.card {
  background: var(--clr-pink);
  border-radius: 1rem;
  padding: 1rem;
}

.card--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}

.card--2 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / 11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  grid-row: 1 / span 7;
}

.card--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
}

.card--4 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
}

.card--5 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / span 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
}

.card--6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
}

.card--7 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
}

.card--8 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
}

.card--9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
}

.card__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  height: 100%;
}

.card__box > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.card__img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__title {
  font-size: 3rem;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
}

.card__text {
  font-size: 1rem;
}

.footer {
  grid-column: 1 / -1;
  background: var(--clr-footer);
  text-align: center;
  padding: 2rem 0;
}

.footer__text {
  color: var(--clr-white);
}

@media (max-width: 900px) {
  .cards {
    grid-column: page-start / page-end;
  }
  .card {
    grid-column: 1 / -1;
  }
  .card--1 {
    grid-row: 1 / auto;
  }
  .card--2 {
    grid-row: 2 / auto;
  }
  .card--3 {
    grid-row: 3 / auto;
  }
  .card--4 {
    grid-row: 4 / auto;
  }
  .card--5 {
    grid-row: 5 / auto;
  }
  .card--6 {
    grid-row: 6 / auto;
  }
  .card--7 {
    grid-row: 7 / auto;
  }
  .card--8 {
    grid-row: 8 / auto;
  }
  .card--9 {
    grid-row: 9 / auto;
  }
}
/*# sourceMappingURL=main.css.map */